language: c
script:
  - asdf plugin-test swi-prolog $TRAVIS_BUILD_DIR 'swipl --version'
before_script:
  - git clone https://github.com/asdf-vm/asdf.git
  - . asdf/asdf.sh
  - git -C $TRAVIS_BUILD_DIR checkout $TRAVIS_BUILD_BRANCH
os:
  - linux
  - osx
